@charset "utf-8";
*{
  margin: 0;
  padding: 0;
}

/* Header */
header{
  height: 10vh;
  display: flex;
  justify-content: center;
}
#container-logo{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15vw;
}
#logo-trybe{
  width: 40%;
}
#container-search{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 55vw;
}
#container-input{
  margin-top: 25px;
  margin-bottom: 5px;
}
#container-input #btn-search {
  border: none;
  background-color: white;
}
#container-input .fa-magnifying-glass {
  font-size: 1.3em;
}
#container-input #text-search {
  width: 40vw; /* Tamanho do Input */
}
#container-options{
  width: 30vw;
  display: flex;
  justify-content:space-evenly;
  align-items: center;
}
.card:hover { /* Configurações Gerais */
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.7);
  cursor: pointer;
}
/* Body */
/* Backgroun Color*/
#container-color {
  background-color: #EBEBEB;
}
/* Main */
main{
  width: 90vw;
  /*height: 85vh; /* Caber todos os cards na página*/
  margin: auto;
}
/* Página Inicial */
#container-initial-page #container-banner{
  padding: 5px;
  height: 30vh;
  display: flex;
  justify-content: center;
}
#carouselExampleFade {
  width: 60%;
  height: 80%;
}
#container-initial-page #container-category{
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#container-initial-page #container-category #container-figures {
 display: flex;
 flex-direction: column;
 align-items: center;
 background-color: white;
}
.fa-solid { /* São tratados como texto */
  font-size: 2.5em;
  color: #2FC18C;
}
.div-figure {
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 130px;
}
.div-figure:hover {
  cursor: pointer;
  background-color: #2FC18C;
}
.div-figure:hover .fa-solid{
  color: white;
}
.div-figure:hover p{
  color: white;
}
.div-figure p{
  font-size: .85em;
  margin: auto;
  text-align: center;
  font-weight: bold;
}
#container-initial-page #container-category #container-figures-1 {
  display: flex;
}
#container-initial-page #container-category #container-figures-2 {
  display: flex;
}
/* Ofertas */
#container-oferta-dia {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#container-initial-page #container-ofertas{
  height: 42vh;
  width: 80vw;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.directions {
  border: none;
}
.directions i:hover {
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.7);
}
#container-ofertas {
  display: flex;
  justify-content: space-evenly;
}
#container-ofertas .card{
  width: 8rem;
  margin: 10px;
  font-size: .8em;
}
#container-ofertas .card .card-body{
  display: flex;
  flex-direction: column;
}

#container-ofertas .card-body .btn{
 margin-bottom: 5px;
 font-size: .9em;
}
#container-ofertas .card .div-Description{
  height: 5rem;
  font-size: .9em;
  text-align: center;
}
#container-ofertas .card .price-txt{
  font-size: 1.25em;
  font-weight: bolder;
  text-align: center;
}

/* Livros */
#container-books-geral {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#container-initial-page #container-books{
  height: 42vh;
  width: 80vw;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
#container-books {
  display: flex;
  justify-content: space-evenly;
}
#container-books .card{
  width: 8rem;
  margin: 10px;
  font-size: .8em;
}
#container-books .card .card-body{
  display: flex;
  flex-direction: column;
}
#container-books .card-body .btn{
 margin-bottom: 5px;
 font-size: .9em;
}
#container-books .card .div-Description{
  height: 5rem;
  font-size: .9em;
  text-align: center;
}
#container-books .card .price-txt{
  font-size: 1.25em;
  font-weight: bolder;
  text-align: center;
}
/* Games */
#container-games-geral {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#container-initial-page #container-games{
  height: 42vh;
  width: 80vw;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
#container-games {
  display: flex;
  justify-content: space-evenly;
}
#container-games .card{
  width: 8rem;
  margin: 10px;
  font-size: .8em;
}
#container-games .card .card-body{
  display: flex;
  flex-direction: column;
}
#container-games .card-body .btn{
 margin-bottom: 5px;
 font-size: .9em;
}
#container-games .card .div-Description{
  height: 5rem;
  font-size: .9em;
  text-align: center;
}
#container-games .card .price-txt{
  font-size: 1.25em;
  font-weight: bolder;
  text-align: center;
}
/* Pagamentos */
#container-payments {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0px;
}
#payments {
  width: 60vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.432);
  border-radius: 10px;
  padding: 20px;
  line-height: 5px;
}
#payments .fa-solid{
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.253);
  font-size: 2em;
  padding: 10px;
  margin-right: 10px;
}
#payments .pay{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
#payments .primary{
  font-weight: bold;
}
#payments .second{
  font-size: .8em;
  color: #2176DE;
}
#payments .second:hover{
  cursor: pointer;
  text-decoration: underline;
  color: #1855a0;
}
#payments .fa-solid:hover{
  cursor: pointer;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.404);
}

/* Cards */
#products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
#products .card{
  width: 12rem;
  margin: 5px;
}

#products .card .card-body{
  display: flex;
  flex-direction: column;
}

#products .card .card-body .btn{
 margin-bottom: 5px;
 font-size: .9em;
}
#products .card .div-Description{
  height: 5rem;
  font-size: .9em;
  text-align: center;
}
#products .card .price-txt{
  font-size: 1.25em;
  font-weight: bolder;
  text-align: center;
}
/* Modal */
#ModalEspecificacoes{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#ModalEspecificacoes img{
  width: 30%;
}

/* Footer */
footer{
  height: 5vh;
  background-color: blue;
}
